<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[#{'product.page.update'}]] &ndash; aeresfiru</title>
</head>
<body>
<a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}" th:inline="text">&larr;
    [[#{'product.link.to_the_product'}]]</a>
<h1>[[${product.title}]]</h1>
<div data-th-if="${problemDetail}">
    <h2 data-th-text="#{'errors.400.title'}"></h2>
    <ul>
        <li data-th-each="error: ${problemDetail.properties.get('errors')}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/catalogue/products/{productId}/edit(productId=${product.id})}">
    <label th:inline="text">
        [[#{'product.form.label.title'}]]<br>
        <input type="text" name="title" data-th-value="${payload != null ? payload.title : product.title}">
    </label><br>
    <label th:inline="text">
        [[#{'product.form.label.description'}]]:<br>
        <textarea name="details" data-th-text="${payload != null ? payload.details : product.details}"></textarea>
    </label><br>
    <button type="submit" th:text="#{'product.form.update.button.submit'}"></button>
</form>
</body>
</html>
