<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[#{'product.page.product_list'}]] &ndash; aeresfiru</title>
</head>
<body>
<a data-th-href="@{/catalogue/products/create}" th:inline="text">&rAarr; [[#{'product.link.to_create_product'}]]</a>
<h1>[[#{'product.page.product_list'}]]</h1>
<form method="GET" data-th-action="@{/catalogue/products/list}">
    <label>Filter:<input type="text" name="filter" data-th-value="${filter != null ? filter : ''}">
        <button type="submit">Search</button>
    </label>
</form>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th th:text="#{'product.name'}"></th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="product: ${products}">
        <td data-th-text="${product.id}"></td>
        <td>
            <a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}"
               data-th-text="${product.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
