<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App header</title>
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-light" th:fragment="header">
    <div class="container-fluid pt-0">
        <a class="navbar-brand" href="/"><i class="fas fa-font"></i>eresfiru Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalogue/products/create"><i class="fas fa-cogs"></i> Create New Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalogue/products/list"><i class="fa-solid fa-list"></i> Product
                        List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
