<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Product Manager</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container-fluid pt-0">
        <a class="navbar-brand" href="/"><i class="fas fa-font"></i>eresfiru Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalogue/products/create"><i class="fas fa-cogs"></i> Create New Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalogue/products/list"><i class="fa-solid fa-list"></i> Product
                        List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2>About Aeresfiru Manager</h2>
    <p>Aeresfiru Manager is my pet project. Comprehensive platform for products, enabling users to browse, leave
        reviews, and interact with products. Built with Java Spring and other cutting-edge technologies, it offers a
        range of tools for inventory management, sales tracking, and product analytics. Dive in, explore, and let me
        know what you think!</p>

    <h2>Contact Me</h2>
    <ul class="list-unstyled contact-list">
        <li><i class="fab fa-telegram"></i> <a href="#">@qjija</a></li>
        <li><i class="fab fa-linkedin"></i> <a href="#">Aliaksandr Shtarou</a></li>
        <li><i class="fas fa-envelope"></i> <a href="mailto:aeresfiru@gmail.com">aeresfiru@gmail.com</a></li>
    </ul>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
